body{
    font-family: sans-serif;
    background-color: aqua;
}
section{
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: aliceblue;
    margin-top: 75px;
    box-shadow: 0px 10px 35px 15px black;
}
.game--title{
    padding-top: 20px;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 150px;
    margin: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cell{
    font-family: sans-serif;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 0px 1px black;
    border: 1px solid black;

    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
}
button{
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: blueviolet;
    cursor: pointer;
}
button:hover{
    transition: 0.25s;
    background-color: pink;
    
}
